/* OUTLINES */

.view-switcher-wrapper {
  outline: #ff00ff 2px solid;
}

.pagination-wrapper {
  outline: #ff00ff 2px solid;
}

.pagination-list {
  outline: #00ff00 2px solid;
}

.hotel-counter {
  outline: #00ff00 2px solid;
}

.view-switcher-list {
  outline: #00ff00 2px solid;
}

.social-link {
  outline: #00ff00 2px solid;
}

.breadcrumbs-item {
  outline: #00ff00 2px solid;
}

.view-item {
  outline: #00ff00 2px solid;
}

.hotel-item {
  outline: #0000ff 2px solid;
}

.hotel-stars {
  outline: #00ff00 2px solid;
}
